html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  display: flex;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: var(--gap-m);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.3s;
}

a {
  color: inherit;
  text-decoration: none;
}

// Убираем outline у элементов recharts при фокусе


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
