.nav {
  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  &__link {
    display: block;
    box-sizing: border-box;
    padding: var(--gap) var(--gap);

    &:hover {
      background-color: var(--primary-bg-color-hover);
    }
  }
}