.nav {
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  li {
    padding: var(--gap-s) var(--gap);
    box-sizing: border-box;

    &:hover {
      background-color: dimgrey;
    }
  }
}